// Define variables for your color scheme

// For example:

$blue: #77DCE8;
$yellow: #FAD665;
$orange: #F09766;
$green: #65FF90;


$dark-purple: #311D3F; // rgb(49, 29, 63 )
$medium-purple: #522546;
$purple: #88304E;
$flash-pink: #E23E57;
$light-purple: #AB9DF2;
$pink: #EA5D87;
$light-pink: #F4BBBB;
$beige: #FFEED0;
$light-green: #2CF6B3;
$flash-green: #65FF90;
