.padding-20 {
  padding: 20px !important;
}

.padding-10 {
  padding: 10px !important;
}


.head-banner-article {
  height: 50px;
  background-color: #FBFCFC;
}

.banner-article {
  background-position: center;
  height: 262px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  h1 {
    color: white;
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
  }

  .media-logo {
    position: absolute;
    height: 83px;
    width: 83px;
    border-radius: 50%;
    top: 266px; left: 255px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Medium_logo_Monogram.svg/1200px-Medium_logo_Monogram.svg.png);
    background-size: cover;
  }
}


// ==> CONTENU DE L'ARTICLE <== //

#content {
  position: relative;
  word-break: break-word;
  background-color: white;
  color: #311d3f;

  p {
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    margin: 20px 0 16px 0;
  }

  h1, h2, h3, h4, h5, h5 {
    margin-top: 1.2em;
    line-height: 32px;
    font-size: 22px !important;
    font-weight: 600;
    color: $dark-purple;

  }

  ul {
    padding: 0 0 0 30px;
  }

  img {
    max-width: 100%;
    border-radius: 5px;
  }

  strong {
    font-weight: unset;
  }
}





#translation {
  display: flex;
  align-items: center;
  position: fixed;
  bottom:0%;
  background-color: $purple;
  border-radius: 100px;
  width: 346px;
  height: 80px;
  margin: 2% auto; /* Will not center vertically and won't work in IE6/7. */
  left: 0;
  right: 0;
  padding: 0 10px;
  color: white;

  #cross {
    height: 60px;
    max-width: 60px;
    border-radius: 30px;
    background-color: $dark-purple;
    text-align: center;
    color: white;
    line-height: 60px;
    font-size: 40px;
  }
  #cloud {
    height: 80px;
    width: 80px;
    max-width: 80px;
    border-radius: 40px;
    margin-left: 20px;
    background-color: white;
    color: $dark-purple;
    text-align: center;
    line-height: 80px;
    font-size: 40px;
    box-shadow: 0 5px 10px rgba(0,0,0,.6);
  }

  #words {
    padding-left: 60px;
    font-family: 'Open Sans', 'sans-serif';
  }

  #untranslated {
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
  }

  #translated {
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
  }
}
