// Specific CSS for your home-page
body {
  // background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #B9FAF8), color-stop(100%, #EB5160)) fixed !important;
  // background: linear-gradient(180deg, rgba(250,250,250, .2) 0%, rgba(250,250,250, .2) 91%), linear-gradient(180deg, rgb(185,250,248) 0%, rgb(235,81,96) 91%);
  background: radial-gradient(circle at bottom, #EB5160 , #C9A8BE);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  // opacity: 0.2;
}

html {
    height: 100%;
}
