.agenda {
  width: 100%;
  margin-bottom: 0px;
  margin-top: 8px;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  .agenda-col {
    width: 14%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    border-radius: 21px;
  }

  h3 {
    margin-bottom: 10px;
  }
}

.list-card {
  border-radius: 30px;
  background-color: white;
  color: $medium-purple;
  padding: 16px;
  height: 171px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.go-button {
  border: 1px solid;
  border-radius: 30px;
  padding: 3px 25px;
  font-size: 25px;
  height: 45px;
  display: flex;
  align-items: center;
}
