.orders-details {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 45px;
  text-align: center;
  color: #FFFFFF;
}

.state-sticker {
  border-radius: 30px;
  color: white;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  padding: 3px 12px;
}

#confirme {
  background-color: #65FF90;
}

#attente {
  background-color: #ED4C5C;
}



#cest-parti-btn {
  background-color: #88304E;
  color: white;
}

#height-300 {
  height: 308px;
}
