_subscription.html.erb
<div class='premium-pop-up'>
  <div class='exit-btn'>
    <i class="fas fa-times"></i>
  </div>
  <div class='d-flex flex-column justify-content-between align-items-center w-100 h-100'>
    <div>

    </div>
    <div class='premium-btn'>PREMIUM</div>
  </div>
</div>
