<div id="translation" style="display: none;">
    <div class="container">
      <div class="row align-items-center">
        <div id="cross" class="col-3">
          <i class="fas fa-times"></i>
        </div>
        <div id="words" class="col-6">
          <div class="row" id="untranslated">Test</div>
          <div class="row" id="translated">Test</div>
        </div>
        <div class="col-3">
          <div class="tile" id="cloud">
            <div class="icon-container not-saved">
              <i class="icon off far fa-bookmark"></i>
              <i class="icon on fa fa-bookmark"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
