<div class="container padding-10">

  <div class="full-screen-card rounded-element medium-purple-bg d-flex flex-column justify-content-between align-items-center">


    <div class='premium-title padding-35'>
      <h1>Passe <strong>PREMIUM</strong></h1>
      <h3>Et continue de progresser!</h3>
    </div>

    <div class='premium-page d-flex justify-content-center align-items-center'>
      <div class='w-100'>
        <h3 class = "text-center pb-2"> <strong>Premium</strong></h3>
        <div dlass= "d-flex justify-content-between">
          <div class='d-flex flex-row justify-content-between align-items-center premium-list'>
            <h3>Des article à l'infini </h3>
            <i class="fas fa-check-circle"></i>
          </div>
          <div class='d-flex flex-row justify-content-between align-items-center premium-list'>
            <h3>Du contenu vidéo</h3>
            <i class="fas fa-check-circle"></i>
          </div>
          <div class='d-flex flex-row justify-content-between align-items-center premium-list'>
            <h3>Enregistrements illimités </h3>
            <i class="fas fa-check-circle"></i>
          </div>
        </div>
      </div>
    </div>

    <div class='w-100 padding-35'>
      <h3 class = "price"><strong>3€</strong> / mois</h3>
      <div class='mt-3'>
        <%= form_tag orders_path do %>
          <%= hidden_field_tag 'subscription_id', @subscription.id %>
          <%= submit_tag 'Je passe premium', class: 'premium-btn no-border' %>
        <% end %>
      </div>
    </div>

  </div>
</div>

