
.articles-index {
  background-position: center;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  border-radius: 10px;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  flex-direction: column;
  display: flex;
  padding-top: 10px;
  position: relative;
  background-color: white;
}

.author-topic {
  flex-direction: row;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  width: 300px;
}

.author-topic .topic {
  position: absolute;
  right: 2px;
  top: 0px;
  background-color: #F09766;
  border-radius: 10px;
  padding: 2px;
  padding-right: 5px;
  padding-left: 5px;
  margin-top: 10px;

}

.author-topic .author {
  position: absolute;
  left: 70px;
  top: 0px;
  margin-top: 10px;
  width: 150px;
}

.author-topic .avatar-medium {
  position: absolute;
  top: 0px;
  height: 40px;
  border-radius: 50%;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}

.card-link:hover {
  opacity: 0.1;
}

