.article-index-padding {
  padding: 10px 10px 90px 10px !important;
}

#youngage {
  font-family: $body-font;
  font-weight: 700;
  color: $dark-purple;
  // text-shadow: 0px 6px 5px grey;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.38));
}

.article-item {
  background-color: rgba(250, 250, 250, .9);
  height: 245px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14px;
  padding: 25px;
  margin-bottom: 10px;

  h3 {
    font-weight: 600;
  }
}

.media-logo-medium{
  height: 55px;
  width: 55px;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Medium_logo_Monogram.svg/1200px-Medium_logo_Monogram.svg.png);
  border-radius: 50%;
  background-size: cover;
}

.article-infos {
  font-size: 16px;
  font-family: $headers-font;
  line-height: 20px;
  .article-date{
    font-weight: 600;
  }
  .article-media{
    font-weight: 300;
  }
}

.article-link:hover {
  text-decoration: none;
}

