.completed-stample {
  color: #2CF6B3;
  font-size: 28px;
  margin-left: 15px;
  margin-bottom: 5px;
}

.mastered-failed-buttons {
  width: 180px;
  position: absolute;
  left: calc(50% - 90px);
  top: 398px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .rounded-btn {
    width: 66px;
    height: 66px;
    border-radius: 50% !important;
    border: none;
  }

  .mastered-submit {
    background-color: #2CF6B3 !important;
    color: white !important;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
  }

  .failed-submit {
    background-color: #E23E57 !important;
    color: white !important;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
  }
}

.fc-word {
  margin-top: 30px;
  margin-bottom: 25px;
}

.fc-translation {
  margin-top: 20px;
  font-family: Open Sans;
  font-style: italic;
  font-weight: normal;
  font-size: 30px;
  color: #311D3F;
  margin-left: -6px;
}

.fc-submit-btn {
  background-color: $dark-purple;
  border-radius: 30px;
  color: white;
  font-size: 25px;
  font-weight: 600;
  padding: 3px 15px;
  margin-top: 35px !important;
}

.fc-recto, .fc-verso {
  height: 271px;
  width: 297px;
  margin: auto;


  p {
    font-weight: 300;
    font-size: 30px;
  }
  .flex-fc {
    display: flex;
    flex-direction: column;
    // justify-content: space-evenly;
    height: -webkit-fill-available;
    width: 100%;
    align-items: center;
  }

  .fc-input {
    height: 57px;
    width: 260px;
    border-radius: 30px;
    font-family: $headers-font;
    font-weight: 300;
    font-size: 27px;
    border: none;
    padding-left: 20px;
    padding-bottom: 5px;
    outline: none;
  }

  .input-verso {
    background: #88304E;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    color: white;
  }
}

#congrats {
  height: 271px;
  width: 297px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-size: 29px;
    font-weight: 300;
    margin: 15px 0 25px;
  }

  h3 {
    font-size: 36px;
    color: #2CF6B3;
    margin: 0;
  }
}

.finished-btn {
  background-color: #2CF6B3;
  font-family: $headers-font;
  font-size: 24px;
  padding: 5px 20px;
  color: white;
  border-radius: 30px;
  margin-bottom: 10px;
  outline: none;

  &:hover {
    background-color: white;
    color: #2CF6B3;
    // transform: scale(1.02);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
  }
}

