.agenda {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  .agenda-col {
    width: 14%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    border-radius: 21px;
  }

  h3 {
    margin-bottom: 10px;
  }

}

.full-screen-card {
  height: 557px;
  color: white;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
}

.go-button {
  border: 1px solid;
  border-radius: 30px;
  padding: 3px 25px;
  font-size: 25px;
}

.rounded-element {
  border-radius: 30px;
}

.medium-purple-border {
  border-color: $medium-purple;
}

.medium-purple-bg {
  background-color: $medium-purple;
}

.medium-purple-text {
  color: $medium-purple;
}

.purple-bg {
  background-color: $purple;
}

.dark-purple-bg {
  background-color: $dark-purple;
}
