
.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 80px;
  position: fixed !important;
  bottom:0;
  background-color: #393838;
  opacity: 1;
  width:90%;
  z-index: 100;

  .fas {
    color: white !important;
  }

  .far {
    color: white !important;
  }
}

.navbar-link {
  width: 60px;
  border-radius: 50%;
  text-align: center;
  margin-left: 12px;

  &:hover{
    background-color: #522546;
  }
}

.active{
  .navbar-link {
    background-color: #522546;
  }
}

.navbar {
  border-radius: 50px;
  margin: 20px;
}

