
#menu-navbar {
  height: 80px;
  width: 355px;
  position: fixed !important;
  bottom:0;
  background-color: $dark-purple;
  z-index: 100;
  border-radius: 50px;
  margin: 10px;
  padding: 10px;
}

.navbar-link {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 40px;

  &:hover{
    text-decoration: none;
  }
}

.active{
  .navbar-link {
    background-color: $medium-purple;
  }
}
