.premium-page {
  background-color: #88304E;
  width: 100%;
  height: 200px;
}

.premium {
  background-color: #65FF90 !important;
  border-radius: 30px !important;
  color: white !important;
}

.mois {
  color: #65FF90;
}

.price {
  font-size: 50px;
}

.details {

}
