.premium-pop-up-card {
  position: fixed;
  width: 337px;
  height: 516px;
  left: 19px;
  top: 37px;
  color: white;
  z-index : 100;
}

.premium-pop-up-padding {
  padding: 25px 35px;

  h3 {
    margin: 0;
  }
}

.price-pup-up {
  margin-top: -10px;
}

.fermer {

}
