.bar {
    position: relative;
    width: 100%;
    height: 8px;
    border-radius: 0.5em;
    background: $medium-purple;
    box-sizing: content-box;
  }

  .bar .percentage {
    position: relative;
    // font-size: 1em;
    background: $light-green;
    height: 8px;
    border-radius: 0.5em;
  }
