.search {
  padding-left: 20px;
  padding-bottom: 20px;
  input {
    border-radius: 30px;
    margin: 5px;
    padding: 5px;
    padding-left: 20px;
    width: 90%;
    border: none;
  }
}

.words {
  .all-words {
    height: 26px;
    margin: 1px 19px 13px 19px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E5E5E5;
  }
  border-radius: 30px;
  margin: 10px;
  margin-left: 20px;
  margin-right: 20px;
  height: 320px;
  padding-top: 10px;
  color: #311D3F;
  overflow: scroll;
}

.hidden {
  position: fixed;
  visibility: hidden;
}
